.box {
   width: 150px;
   height: 150px;
   background-color: red;
}

.container {
   width: 900px;
   padding: 0 15px;
   margin: 0 auto;
}
button {
   width: 200px;
   height: 80px;
   margin-top: 10px;
   border: none;
   border-radius: 8px;
   background-color: cornflowerblue;
   color: #fff;
   cursor: pointer;
   outline: none;
}

.overlay {
   padding: 45px;
   background-color: paleturquoise;
}
